.main{
    margin-left: 0 ;
    margin-top:  0;
    margin-right: 0 ;
    padding: 0;


}

/*Overriding default behaviour of links*/
a{

    /*removing the default behavoiur of links*/
    text-decoration: none;
    color: black;

}





/* Setting the entire website to use dedicated font*/
*{
    font-family: "Roboto",sans-serif;
}



.horizontal-body{
  display: grid;
  margin: 0 auto;
  max-width: 1440px;


}



.section-1{

    background-color: rgb(193, 219, 179);
    height: 300px;

}

.section-1 h1{
    font-size: 90pt;
    margin-bottom: 20px;
    display:block;
}

.section-1 h4{
    margin-bottom: 10px ;
    font-size: 20pt;
    margin-left: 50px;
}

.section-1 h5{
    margin-top: 40px;
    margin-left:50px
}

.section-1 h1{
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid rgb(242, 192, 120);
    
      margin: auto 50px auto;
    animation: typing 2s steps(20,end),
                blink-carat .75s step-end infinite;

}


/*Defining an animation to get typing effect */
@keyframes typing {
    from{width: 0}
    to{width: 100%}
}

@keyframes blink-carat {
    from, to {border-color: transparent}
    50%{border-color: rgb(242, 192, 120)}
    
}