.slideshow img {
    width: 500px;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.281);
}

.page-title{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
}


.project{
    display:flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: nowrap;
}



/*this is for the outer list of projects*/
.horizontal-body{
    display: flex;
    flex-direction: column;
}

/**/

/*Project description section*/
.description{
    margin-top: 20px;
    font-size: 30px;

}

.description h2{
    margin-bottom: 20px;
}

.description li{
    margin-top: 15px;
}

.description{
    margin-bottom: 20px;
}

.proj_desc{
    margin-left:50px;
    margin-right: 50px;
}

/*Links to other resources I used*/

.subtitle{
    margin-bottom: 30px;
}

.refs{
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
}

.refs a{
    background-color: rgb(242, 192, 120);
    margin: 10px 2px 20px 5px;
    padding: 5px 5px;

    border-radius: 15px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 15pt;
    box-shadow: inset;
    cursor: pointer;
    box-shadow: 5px 5px  black;
    text-shadow: 1-px;
    transition: box-shadow 0.5s, background-color 0.5s, color 0.5s ease-in;



}



/* On hovering over the links*/
.refs a:hover{
    box-shadow: 5px 5px rgb(242, 192, 120);
    background-color: black;
    color: white;
}

/**/



/*slideshow section*/
.slideshow{
    display: flex;
    position:relative;
    height: 800px;
    min-width: 500px;
}

.prev,.next{
    position: absolute;
    cursor: pointer;
    top:50%;
    color: whitesmoke;
    font-size: 40px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.prev{
    right: 0;
}

.next{
    left: 0;
}

.prev:hover, .next:hover {
    background-color: rgb(254, 93, 38,0.8);
}

.fade{
    animation-name: fade;
    animation-duration: 1s;
}

.description img {
    display: flex;
    border-radius: 10px;
    width: 1340px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.281);
}


.badge{
    height: 200px;
    width: 200px;
    display: flex;
    align-self: flex-end;
    flex-direction: row;
}

hr.solid{
  border-top: 3px solid #000000;
}

.more{
    display: flex;
    justify-content: space-between;
}

@keyframes fade {
    from {opacity: 0.4}
    to{opacity: 1;}
}

/*end slideshow section*/


/*Media Queries*/

@media (max-width: 600px) {
    .project{
        flex-wrap: wrap;
    }
    
}
